.ust-gorsel img {
    max-width: 100%;
    border-radius: 16px;
    margin-top: 15px;
}

.hosgeldin-kismi {
    background-color: #F6F8FA;
    margin-top: 30px;
    padding: 50px 40px;
    border-radius: 16px;

}