
img {
    max-width: 100%;
}
.hero-slider img{
    max-width: 100%;

}

.hero-pruduct {
    background-color: #F6F8FA;
    margin-top: 20px;
    padding: 50px 0;
    border-radius: 24px;
    
}

.product-kart {
    background-color: #fff;
    padding: 11px;
    border-radius: 16px;
    position: relative;
    margin-left: 15px;
    
}


.product-kart-info {
    background-color: #fff;
    padding: 11px;
    border-radius: 16px;
}

.product-kart-image {
    position: relative;
    overflow: hidden;
    border-radius: 16px;
      
    
}



.product-kart-tag {
    position: absolute; 
    color: #ffff;
    border-radius: 33px;
    background-color: rgb(4, 100, 4);
    padding: 11px;
    margin: 20px 23px;
    right: 0%;
}

.product-kart-info-top {
    display: flex;
    justify-content: space-between;
    padding-top: 14px;
}
.product-kart-info-top-price {
    color: #EB664E;
}

.product-kart-info-bottom {
    display: flex;
    padding-top: 14px;
    gap: 30px;
    margin-top: 20px;
}
.icon {
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    
}

.icon.icon-yatak {
    background-image: url(../img/icons/yatak.svg);



}
.icon.icon-banyo {
    background-image: url(../img/icons/banyo.svg);

}
.icon.icon-m2 {
    background-image: url(../img/icons/m2.svg);

}